@media (max-width: 600px) {
    .products{
        display: inherit;
        height: auto;

    }
    .product{
        margin-top: auto;
    }
    .main_section{
        padding: 4%;
    }
    .caracteristicas{
        display: inherit;
    }
    .producto{
        display: inherit;
    }
    .products_uno{
        display: inherit;
    }
}